<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjh.mapper.ClassMapper">
  <resultMap id="BaseResultMap" type="com.tjh.pojo.Class">
    <id column="classId" jdbcType="INTEGER" property="classId" />
    <result column="className" jdbcType="VARCHAR" property="className" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createPerson" jdbcType="INTEGER" property="createPerson" />
  </resultMap>
  <resultMap id="classList" type="java.util.HashMap">
		<id column="classId" property="classId" jdbcType="INTEGER" />
		<result column="className" property="className" jdbcType="VARCHAR" />
  </resultMap>
  
   <resultMap id="classTable" type="com.tjh.vo.ClassVo">
	  <id column="classId" jdbcType="INTEGER" property="classId" />
	   <result column="className" jdbcType="VARCHAR" property="className" />
	   <result column="remark" jdbcType="VARCHAR" property="remark" />
	   <result column="state" jdbcType="INTEGER" property="state" />
	   <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
	   <result column="createPerson" jdbcType="INTEGER" property="createPerson" />
	   <result column="userName" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <select id="loadAllClassComboBox" resultMap="classList">
  		select classId,className from class
  </select>
  
  
  <!-- 插入 -->
   <insert id="addClass" parameterType="com.tjh.pojo.Class">
    insert into class 
    (className, remark,createPerson)
    values 
    (#{className,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},#{createPerson,jdbcType=INTEGER})
  </insert>
  <!-- 修改数据状态 -->
   <update id="updateClassStateByClassId" parameterType="Integer">
    	update class set  state = 2 where classId = #{classId}
  </update>
  <!-- 修改值 -->
  <update id="updateClassByClassId" parameterType="com.tjh.pojo.Class">
    update class
    <set>
      <if test="className != null and className != '' ">
        className = #{className,jdbcType=VARCHAR},
      </if>
      <if test="remark != null and remark != '' ">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createPerson != null and createPerson != ''">
        createPerson = #{createPerson,jdbcType=INTEGER},
      </if>
    </set>
    where classId = #{classId,jdbcType=INTEGER}
  </update>
  <!-- 批量修改状态 -->
  <update id="updateClassStateByClassIds" parameterType="Integer[]">
	<foreach collection="ids" separator=";" item="classId">
		update Class
		<set>  
          state = 2
        </set>  
        <where>  
            classId = #{classId,jdbcType=INTEGER}
        </where> 
	</foreach>
</update>
<!-- 加载单个数据 -->
  <select id="loadOneClassByClassId" resultType="com.tjh.pojo.Class" parameterType="Integer">
  		select classId, className, remark, state, createTime, createPerson from class where  ClassId = #{classId,jdbcType=INTEGER} and state = 1
  </select>
  <select id="loadAllClass" resultMap="classTable" parameterType="com.tjh.vo.ClassVo">
  	  select r.classId,r.className,r.remark,r.createTime,u.userName 
  	  from class r inner join sys_user u on r.createPerson = u.userid where u.state =1 and r.state = 1
	    <if test="className != null and className != ''">
	        and r.className like CONCAT('%',#{className},'%')
	    </if>
	    <if test="startTime != null">
	    	<![CDATA[ and r.createTime  >=  #{startTime}  ]]>
	    </if>
	    <if test="endTime != null">
	    	<![CDATA[ and r.createTime  <=  #{endTime}  ]]>
	    </if>
	    limit #{page},#{limit}
  </select>
  <select id="loadTotalClass" resultType="Integer" parameterType="com.tjh.vo.ClassVo">
  	  select count(*) as total from (select r.classId,r.className,r.remark,r.createTime,u.userName 
  	  from class r inner join sys_user u on r.createPerson = u.userid where u.state =1 and r.state = 1
	    <if test="className != null and className != ''">
	        and r.className like CONCAT('%',#{className},'%')
	    </if>
	    <if test="startTime != null">
	    	<![CDATA[ and r.createTime  >=  #{startTime}  ]]>
	    </if>
	    <if test="endTime != null">
	    	<![CDATA[ and r.createTime  <=  #{endTime}  ]]>
	    </if>
	    ) as a
  </select>
</mapper>