<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjh.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.tjh.pojo.Teacher">
    <id column="teacherId" jdbcType="INTEGER" property="teacherId" />
    <result column="teacherName" jdbcType="VARCHAR" property="teacherName" />
    <result column="teacherPhone" jdbcType="VARCHAR" property="teacherPhone" />
    <result column="teacherBirthday" jdbcType="TIME" property="teacherBirthday" />
    <result column="teacherSex" jdbcType="INTEGER" property="teacherSex" />
    <result column="classId" jdbcType="INTEGER" property="teacherSex" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createPerson" jdbcType="INTEGER" property="createPerson" />
  </resultMap>
  <select id="loadOneTeacherByClassId" resultType="com.tjh.pojo.Teacher" parameterType="Integer">
        select teacherId,teacherName from teacher where classId = #{classId}
  </select>

  <select id="loadAllTeacher" resultType="com.tjh.pojo.Teacher">
    select * from teacher
  </select>

</mapper>
